body {
    font-family: 'Roboto';
    font-style: normal;
    /* font-family: "Salvo Serif Cond",Georgia,"Times New Roman",Times,serif; */
    color: hsl(0, 0%, 13%);
}

.dark_primary {
    background-color: #0288D1;
}

.primary {
    background-color: #03A9F4;
}

.light_primary {
    background-color: #B3E5FC;
}

.light_primary_text {
    color: #B3E5FC;
}

.accent {
    background-color: #8BC34A;
}

.primary_text {
    color: #FFFFFF;
}

.secondary_text {
    color: #757575
}

.divider {
    color: #BDBDBD
}

#timeline {
    background-color: white;
    margin: 0px;
}

#header {
    position: relative;
    box-shadow: 0 2px 4px #BDBDBD
}